<%- include("./partials/header.ejs") %>
    <title>Compare</title>
</head>
<body>
    <h1>C11MATE</h1>
    <h2><a href="/travel">Travel Mode</a> | <a href="/locus">Locus Mode</a> | <a class="active" href="/compare">Compare Mode</a></h2>
    <div class="content" id="content">
        <form id="citiesForm" method="POST" action="/compare">

            <label id="destLabel" for="1Zip">First City or Zip</label><br>
            <input type="text" id="1Zip" name="1Zip" placeholder="Enter a Zip Code or City Here..."><br><br>

            <label id="destLabel2" for="2Zip">Second City or Zip</label><br>
            <input type="text" id="2Zip" name="2Zip" placeholder="Enter a Zip Code or City Here..." ><br><br>

            <input type="submit" value="Submit" id="submit">
        </form>

        <% if(locals.citiesWeather){ %>
            <img src="images_for_weather\compare.png"><br>
            <% citiesWeather.forEach(city => { %>
                <strong><%= city.location.name %></strong><br>
                <strong><%= city.current.skytext %></strong><img src="<%= city.current.imageUrl %>"><br>
                <strong>Temperature:</strong> <%= city.current.temperature %> &deg; F / <%= ((city.current.temperature - 32) * (5/9)).toFixed(0) %>&deg; C<br>
                <strong>Precipitation Chance: </strong> <%= city.forecast[1].precip %>&percnt;
                <br><br><br><br>
            <% }) %>
        <% } %>
    </div>

     

    <!--Dark Mode Toggle Switch -->
    <label class="switch">
        <input type="checkbox" id="darkTrigger">
        <span class="slider"></span>
    </label>

</body>
</html>
<script src="js/darkmodeTC.js"></script>
