<%- include("./partials/header.ejs") %>
    <title>Locus</title>
</head>
<body>
    <h1>C11MATE</h1>
    <h2><a href="/travel">Travel Mode</a> | <a class="active" href="/locus">Locus Mode</a> | <a href="/compare">Compare Mode</a></h2>
    <div class="content" id="content">
        <form method="post" action="/locus">
            <label for="dLoc">Destination Zip</label><br>
            <input type="text" id="dLoc" name="dLoc" placeholder="Enter a City or Zip Code Here..."><br>
            <input type="submit" value="Submit" id="submit">
        </form>

        <% if(locals.areaWeatherData){ %> 
            <strong><%= areaWeatherData.name %></strong><br><br>
            <strong>Temperature: </strong> <%= (areaWeatherData.main.temp * (9/5) + 32).toFixed(0) %>&deg; F / <%= areaWeatherData.main.temp.toFixed(0) %>&deg; C<br>
            <strong>Wind Speed:  </strong> <%= areaWeatherData.wind.speed.toFixed(0) %> MPH <br>
            <strong>Humidity:  </strong> <%= areaWeatherData.main.humidity.toFixed(0) %> &percnt;<br>
        <% } %> 
    </div>
</body>
</html>

<!--<script src="js/locus.js"></script>-->