<%- include("./partials/header.ejs") %>
    <title>Locus</title>
</head>
<body>
    <h1>C11MATE</h1>
    <h2><a href="/travel">Travel Mode</a> | <a class="active" href="/locus">Locus Mode</a> | <a href="/compare">Compare Mode</a></h2>
    <div class="content" id="content">
        <form method="post" action="/locus">
            <label id = "destLabel" for="dLoc">Destination Zip</label><br>
            <input type="text" id="dLoc" name="dLoc" placeholder="Enter a City or Zip Code Here..."><br>
            <input type="submit" value="Submit" id="submit">
        </form>

        <% if(locals.areaWeatherData){ %> 
            <strong><%= areaWeatherData.observationpoint %></strong><br>

            <strong><%= areaWeatherData.date %> </strong><br>
            <div><%= areaWeatherData.skytext %></div><img src= "<%= areaWeatherData.imageUrl %>"><br>
            <img src= "/images_for_weather/marker.png"><br>
            

            <strong>Temperature: </strong> <%= areaWeatherData.temperature %>&deg; F / <%= ((areaWeatherData.temperature - 32) * (5/9)).toFixed(0) %>&deg; C<br>
            <strong>Wind Speed:  </strong> <%= areaWeatherData.winddisplay %><br>
            <strong>Humidity:  </strong> <%= areaWeatherData.humidity %>&percnt;<br>
            <strong>Precipitation Chance: </strong> <%= areaWeatherData.rainChance %>%
        <% } %> 

        <br><br>

        <% if(locals.forecastData){ %>
            <hr><h3>3 - Day Forecast </h3><hr>
           <% forecastData.forEach(function (forecast){ %>
                <p>
                    <strong><u><%= forecast.date %></u></strong> <br>
                        <strong><%= forecast.skytextday %></strong><br>

                        <% if (forecast.skytextday === "Clear") { %>
                            <img src="/images_for_weather/sunny.jpg"><br>
                        <% }  else if(forecast.skytextday === "Mostly Cloudy"){ %>
                            <img src="/images_for_weather/partly_cloudy.jpg"><br>
                        <%}   else if(forecast.skytextday === "Partly Sunny"){ %>
                            <img src="/images_for_weather/partly_sunny.jpg"><br>
                        <%}  else if(forecast.skytextday === "Cloudy"){ %>
                            <img src="/images_for_weather/cloudy.jpg"><br>
                        <%}  else if(forecast.skytextday === "Rain"){ %>
                            <img src="/images_for_weather/raining.jpg"><br>
                        <%}  else if(forecast.skytextday === "Light Rain"){ %>
                            <img src="/images_for_weather/partly_raining.jpg"><br>
                        <%}  else if(forecast.skytextday === "Mostly Sunny"){ %>
                            <img src="/images_for_weather/partly_sunny.jpg"><br>
                        <%}  else if(forecast.skytextday === "Rain Showers"){ %>
                            <img src="/images_for_weather/heavy_showers.jpg"><br>
                        <%}  else if(forecast.skytextday === "Sunny"){ %>
                            <img src="/images_for_weather/sunny.jpg"><br>
                        <%}  else if(forecast.skytextday === "T-Storms"){ %>
                            <img src="/images_for_weather/severe_thunderstorms.jpg"><br>
                        <%}%>
                        Low: <%= forecast.low %>&deg; F / High: <%= forecast.high %>&deg; F<br>
                        <strong>Precipitation Chance: </strong> <%= forecast.precip %>%
                </p>
                <br><br><br>
            <% }); %>            
        <% } %>

                     
    </div>
    <!--Dark Mode Toggle Switch -->
    <label class="switch">
        <input type="checkbox" id="darkTrigger">
        <span class="slider"></span>
    </label>

</body>
</html>

<script src="js/darkmodeL.js"></script>
<!--<script src="js/locus.js"></script>-->