<%- include("./partials/header.ejs") %>
    <title>Locus</title>
</head>
<body>
    <h1>C11MATE</h1>
    <h2><a href="/travel" class="active" >Travel Mode</a> | <a href="/locus">Locus Mode</a> | <a href="/compare">Compare Mode</a></h2>
    <div class="content" id="content">
        <form method="post" action="/travel">
            <label for="sLoc">Starting Zip</label><br>
            <input type="text" id="sLoc" name="sLoc" placeholder="Enter a City or Zip Code Here..."><br>

            <label for="dLoc">Destination Zip</label><br>
            <input type="text" id="dLoc" name="dLoc" placeholder="Enter a City or Zip Code Here..."><br>
            <input type="submit" value="Submit" id="submit">
        </form>
      
        <% if(locals.tripWeatherData){ %> 
         <img src= "/images_for_weather/polyline.png"><br>
         <%for(let i=0; i<tripWeatherData.length; i++){ %>        
            <strong><%= tripWeatherData[i].city + " " %></strong>
            <%= (tripWeatherData[i].temperature) %>&deg; F / <%= ((tripWeatherData[i].temperature-32)*.5556).toFixed(0) %>&deg; C<br>
            <strong><%= tripWeatherData[i].desc %></strong>
            <img src= "<%= (tripWeatherData[i].image)%>""><br>
            <strong>Percipiation Chance Today: <%= tripWeatherData[i].pChance %>%</strong><br><br>
            <% } %> 
            <% } %> 

    </div>
</body>
</html>
<!--<script src="js/locus.js"></script>-->